::selection {
  background: rgba(0, 0, 0, 0.15);
  opacity: 0.9;
}
::-moz-selection {
  background: #0d144a;
  color: #fff;
}

.strikeout {
  line-height: 1em;
  position: relative;
}
.strikeout::after {
  border-bottom: 0.2em solid red;
  content: "";
  left: 0;
  margin-top: calc(0.125em / 2 * -1);
  position: absolute;
  right: 0;
  top: 35%;
}

body{
    overflow-x: hidden;
}

.top-nav {
  background-color: #EBE7DC;
}

.header-pic{
    margin-top: 40px;
    height: 80vh;
    overflow: hidden;
    background-image: url(../images/header.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

.highlight-red{
    color: #fff;
    transition: .1s;
    padding-top:9px;
}

.highlight-red:hover{
    color: #e32f33;
}

.image-overlay-text{
    margin-top: -190px;
    font-size: 3em;
    color: #fff;
}

.candidate-names{
    font-size:28px;
    color:#e32f33;
    margin-top: 15px;
}

.candidate-title{
    margin-top: 10px;
    font-size: 20px;
}

.candidate-header{
    text-align: left;
    margin-top: 20px;
    font-size: 30px;
    margin-right: 5%;
    padding: 5px;
    padding-top: 7px;
    background-color: #EBE7DC;
    color: #333;
    border-radius: 2px;
    border: 2px solid #EBE7DC;
}

.candidate-image{
  width: 90%;
  margin-top: 20px;
}

.info-bullets{
    font-size: 1.2em;
    line-height: 1.3em;
    margin-top: 18px;
    margin-right: 5%;
    text-align: left;
    margin-left: 15px;
}

.issue-header{
    font-size: 32px;
    padding: 15px;
    color: #333;
    background-color: #EBE7DC;
    margin-left: 15px;
}

.issue-text{
    font-size: 22px;
    margin-top: 12px;
    line-height: 32px;
    margin-left: 34px;
}

.platform-desc{
    color: #333;
    font-size: 1.2em;
  line-height: 1.3em;
}

.issue-image{
    width: 82%;
    margin:auto;
    margin-bottom: 15px;
}

.student-image{
    height: 220px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
}

.bio-text{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
    color: #fff;
    display: none;
    width: 84%;
    font-size: 92%;
}

.grey-box{
    background-color: #000;
    opacity: .4;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}

.student-text{
    margin-top:-20px;
    z-index:100;
    padding:5px;
    color: #fff;
    background-color: #0d144a;
    margin-bottom: 20px;
    line-height: 20px;
}

.student-text:hover{
    opacity: .8;
    cursor: pointer;
}

.student-image img{
    display:inline;
    min-width: 100%;
}

.timeline-text{
    font-size: 25px;
    line-height: 35px;
}

.contact-text{
    font-size:24px;
}

.snap-pic{
    margin:auto;
    width:300px;
}

.candidate-top-box{
    font-weight:100;
    cursor:default;
}

.noselect {
  cursor: default;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;           /* non-prefixed version, currently
                                  not supported by any browser */
}

.smalltext{
	padding-top: 7px;
	font-size: 16px;
}

.bigtext {
  font-size: 120%;
}

.highlight-red {
  font-weight: 900;
  color: #DA3A4D;
}

@media screen and (max-width: 1100px){
    .header-pic {
      height: 60vh;
      background-position: right;
    }
  
    .owl-carousel{
        height: 100%;
    }
    
    .student-text{
        font-size: 10px;
    }
    
    .student-image{
        height: 158px
    }
    
    .candidate-title{
        font-size: 17px
    }
    
    .candidate-top-box{
        font-size:19px !important;
    }
    
    .issue-text{
        font-size: 20px;
    }
  
    .candidate-image{
      width: 90%;
    }
  
    .header-pic{
      margin-top: 0;
    }
  
  #content h2 {
    font-size: 1.2em;
  }
  
  section h3 {
    hyphens: auto;
  }

}

@media screen and (max-width:680px) {
    .timeline-text{
        font-size: 12px;
        line-height: 19px;
    }
    
    .contact-text{
        font-size: 18px;
    }
    
    .issue-header{
        font-size: 20px;
    }
    
    .issue-text{
        font-size: 1.1em;
        line-height: 130%;
    }
    
    .issue-header{
        margin-right: -10px;
    }
    
    .candidate-header{
        font-size: 25px;
    }
    
    .info-bullets{
        font-size: 1.1em;
    }
    
    .candidate-names{
        font-size: 21px;
    }
    
    .snap-pic{
        width: 200px;
    }
    
    .platform-desc{
        font-size: 1.1em;
    }
    
    #clockdiv{
        font-size: 20px;
    }
    
    .smalltext{
        font-size: 10px;
    }
    
    #clockdiv div > span{
	   padding: 8px;
       width: 50px;
    }
    
    .highlight-red{
        padding: 5px;
    }
  
    .candidate-image{
      width: 95%;
    }
}